<!DOCTYPE html>
<html>
<head>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <title>PasteHuffer</title>
 <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css" />-->
  <script src="https://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"
            data-dojo-config="parseOnLoad: true, async: false,
                              packages: [{
                                          name: 'dgrid',
                                          location: '//cdn.rawgit.com/SitePen/dgrid/v1.1.0'}]"></script>

            <%= stylesheet_link_tag "themes/claro/claro" %>
            <%= stylesheet_link_tag "css/dgrid" %>
  <script>
    require(['dojo/dom',
            'dojo/parser', 
            "dijit/layout/ContentPane",
            "dojo/request",
            "dijit/Dialog",
            "dijit/layout/TabContainer",
            "dgrid/Grid",
            "dijit/Editor", 
            "dijit/_editor/plugins/LinkDialog",
            "dijit/layout/ContentPane",
            "dijit/layout/BorderContainer",
            'dijit/form/TextBox',
            'dijit/form/Button',
            'dojox/form/Uploader', 
            'dijit/form/Select',
            'dojo/domReady!'
        ], function ( dom, 
                      parser,
                      ContentPane,
                      request,
                      dialog,
                      TabContainer,
                      Grid,
                      Editor,
                      LinkDialog,
                      ContentPane,
                      BorderContainer) 
            {
              window.dom = dom;
              window.request = request;
              window.parser = parser;
              window.TabContainer = TabContainer;
              window.ContentPane = ContentPane;
              window.DojoDialog = dialog;
              window.Editor = Editor;
              window.ContentPane = ContentPane;
              window.BorderContainer = BorderContainer;
              window.Grid = Grid;
              if( typeof window.setup !== "undefined")
              {
                window.setup();
              }
            });
  </script>
</head>
<body class="claro">

<%= yield %>

</body>
</html>
