<!DOCTYPE html>
<html>
<head>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <title>PasteHuffer</title>
 <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/dojo/1.10.4/dijit/themes/claro/claro.css" />-->
  <script src="https://ajax.googleapis.com/ajax/libs/dojo/1.13.0/dojo/dojo.js"
            data-dojo-config="parseOnLoad: true, async: true,
                              packages: [{
                                          name: 'dgrid',
                                          location: '//cdn.rawgit.com/SitePen/dgrid/v1.1.0'}]"></script>
            <%= stylesheet_link_tag "themes/claro/claro" %>
            <%= stylesheet_link_tag "css/dgrid" %>
            <%= stylesheet_link_tag "css/skins/claro" %>
  <script>
    require(['dojo/dom',
            "dojo/_base/declare",
            "dijit/layout/ContentPane",
            "dojo/request",
            "dijit/Dialog",
            "dijit/layout/TabContainer",
            "dgrid/Grid",
            "dgrid/Selection",
            "dijit/Editor", 
            "dijit/_editor/plugins/LinkDialog",
            "dijit/layout/ContentPane",
            "dijit/layout/BorderContainer",
            'dojo/on',
            'dojo/ready',
            'dojo/aspect',
            'dojo/dom-class',
            'dojo/io/iframe',
            'dojo/parser', 'dijit/form/TextBox','dijit/form/Button','dojox/form/Uploader', 'dijit/form/Select','dojo/domReady!'
        ], function ( dom,
                      declare, 
                      ContentPane,
                      request,
                      dialog,
                      TabContainer,
                      Grid,
                      GridSelection,
                      Editor,
                      LinkDialog,
                      ContentPane,
                      BorderContainer,
                      on,
                      ready,
                      aspect,
                      domClass,
                      IFrame
                      )
            { ready(function(){
                if(dojox.embed.Flash.available){
                  dojo.require("dojox/form/uploader/plugins/Flash");
                }else{
                  dojo.require("dojox/form/uploader/plugins/IFrame");
                }
                window.dom = dom;
                window.declare = declare;
                window.request = request;
                window.TabContainer = TabContainer;
                window.ContentPane = ContentPane;
                window.DojoDialog = dialog;
                window.Editor = Editor;
                window.ContentPane = ContentPane;
                window.BorderContainer = BorderContainer;
                window.Grid = Grid;
                window.GridSelection = GridSelection;
                window.on = on;
                window.aspect = aspect;
                window.domClass = domClass;
                window.IFrame = IFrame;
                console.log(window.setup);
                if( typeof window.setup !== "undefined")
                {
                  window.setup();
                }
              });
            });
  </script>
</head>
<body class="claro">

<%= yield %>

</body>
</html>
